# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.xcworkspace
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Provisioning
*.mobileprovision
*.cer
*.p12
*.certSigningRequest

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftUI previews
*.generated.swift
